<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>258613133282-4nvdp96iadpfvsd7n6uinvrdro372gd4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.258613133282-4nvdp96iadpfvsd7n6uinvrdro372gd4</string>
	<key>API_KEY</key>
	<string>AIzaSyDTJrJX5j0cPv86hHLoICzpJIOPOqY_pEc</string>
	<key>GCM_SENDER_ID</key>
	<string>258613133282</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.RootNotification.testing</string>
	<key>PROJECT_ID</key>
	<string>flutterpushnotification-15b16</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterpushnotification-15b16.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:258613133282:ios:a397ef063e50d5aab783bb</string>
</dict>
</plist>